*
!Practice4
!Practice4/app
!Practice4/app/src
!Practice4/app/src/main
!Practice4/app/src/main/java
!Practice4/app/src/main/java/ru
!Practice4/app/src/main/java/ru/mirea
!Practice4/app/src/main/java/ru/mirea/shmitko
!Practice4/app/src/main/java/ru/mirea/shmitko/practice4
!Practice4/app/src/main/java/ru/mirea/shmitko/practice4/*
!Practice4/app/src/main/res
!Practice4/app/src/main/res/layout
!Practice4/app/src/main/res/layout/*
!Practice4/app/src/main/AndroidManifest.xml
!Practice4/thread
!Practice4/thread/src
!Practice4/thread/src/main
!Practice4/thread/src/main/java
!Practice4/thread/src/main/java/ru
!Practice4/thread/src/main/java/ru/mirea
!Practice4/thread/src/main/java/ru/mirea/shmitko
!Practice4/thread/src/main/java/ru/mirea/shmitko/thread
!Practice4/thread/src/main/java/ru/mirea/shmitko/thread/*
!Practice4/thread/src/main/res
!Practice4/thread/src/main/res/layout
!Practice4/thread/src/main/res/layout/*
!Practice4/thread/src/main/AndroidManifest.xml
